
    <p-menubar [model]="items" class="ml_menu_container" >
      <ng-template pTemplate="start" class="ml_img_logo_menu" >
          <img [src]="image" alt="rosa" class="ml_img_logo_menu" />
      </ng-template>
      <ng-template pTemplate="item" let-item let-root="root">
          <a pRipple class="flex align-items-center p-menuitem-link" (click)="item.command ? item.command( item ) : null">
              <span [class]="item.icon"></span>
              <span class="ml-2">{{ item.label }}</span>
              <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge" />
              <span *ngIf="item.shortcut" class="ml-auto border-1 surface-border border-round surface-100 text-xs p-1">{{ item.shortcut }}</span>
              <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
          </a>
      </ng-template>
      <ng-template pTemplate="end">
          <div class="ml_container_search_avatar_menu">
              <input type="text" pInputText placeholder="Search" class="w-8rem sm:w-auto" />
              <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle" />

              <div *ngIf="!viewCart" class="carrito">

                <i class="fa-solid fa-cart-shopping" (click)=" handleMenuCart($event)" >
                  <p-badge [value]="countProducts" severity="danger" ></p-badge>
                </i>
                        <div class="ml_buy_car" [ngClass]="{'hiden' : hideCartPreview}" >
                          <div class="ml_container_close">
                            <i class="pi pi-times" (click)="handleMenuCart($event)" ></i>

                          </div>

                          <div class="ml_container_cart">
                            @if ( productsCart.length == 0 ) {
                              <p>No hay productos en el carrito</p>
                            }
                            @for (product of productsCart; track $index) {
                              <div class="ml_container_cart_products">
                                <div class="oa_container_img">
                                  <img src={{product.img}} alt="Maquillaje" width="80px" height="80px" >
                                </div>
                                <div class="info">
                                  <p>{{product.nameProduct}}</p>
                                  <p>{{product.description | pipeTruncate }}</p>
                                  <p>Cantidad : {{product.quantity}}</p>
                                  <div class="precio">
                                    <p>${{product.price * product.quantity }}</p>

                                  </div>
                                  <!-- <input type="number" class="ml_input_products" [(ngModel)]="product.quantity" > -->
                                  <!-- <button (click)="addToCart(product)" >Agregar al carrito</button> -->
                                </div>
                                <div class="ml_icon_trash_product">
                                  <i class="pi pi-trash" (click)="deleteItemCartByProductId(product)" ></i>
                                </div>
                              </div>
                            }

                          </div>
                          <div class="ml_container_footer_cart">
                            <p>Total : ${{cartInfo.cart.totalPrice}}</p>
                            <button class="ml_button_cart"  (click)="goToCheckout()" >Comprar</button>
                          </div>
                        </div>

              </div>


            </div>
      </ng-template>
  </p-menubar>

