@import '../../../../variables.scss';

@media ( min-width: $mobile ) {
  .ml_main_checkout{
    padding: 1em;
    max-width: $maxWidthContainer;
    margin: 0 auto;
    .ml_title_checkout{
      display: flex;
      justify-content: center;
      color: $colorText;
      font-size: 2em;
    }
    .ml_container_checkout{
      .ml_summary_cart{
        .ml_title_cart{
          display: flex;
          justify-content: center;
          color: $colorText;
        }
        .ml_container_products{
          border: 1px solid gray;
          border-radius: 6px;
          padding: 1em;
          .ml_container_cart_products{
            display: flex;
            column-gap: 30px;
          }
        }
      }
      .ml_delivery_option{
        .ml_container_delivery_option{
          padding: 1em;
          border: 1px solid gray;
          margin-top: 1em;
          border-radius: 6px;
          .ml_title_delivery{
            display: flex;
            justify-content: center;
            color: $colorText;
          }
          .ml_container_delivery{
            select {
              width: 100%;
              border: none;
              border-radius: 6px;
              text-align: center;
              height: 2.5em;
              color: grey;
              margin-bottom: 1em;
              &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
            }
          }
        }
        .ml_container_total{
          border: 1px solid gray;
          padding: 1em;
          margin-top: 1em;
          border-radius: 6px ;
          .ml_title_total{
            display: flex;
            justify-content: center;
            color: $colorText;
            font-weight: bold;
            font-size: 1.5em;
          }
        }
      }

    }
  }
}
@media ( min-width: $tablet ) {
  .ml_main_checkout{
    .ml_container_checkout{
      .ml_delivery_option{
        display: flex;
        flex-wrap: wrap;
        column-gap: 1em;
      }
      .ml_container_delivery_option{
        width: 48%;
      }
    }
  }
}
@media ( min-width: $desktop ) {}
