<div class="oa_container_page_login">
  <div class="oa_login_section">
    <div class="oa_main_login">
      <div class="oa_container_login">
        <div class="oa_screen_login">
          <div class="oa_screen_content_login">
            <form class="oa_login_form" (submit)="handleLogin()"  >
              <div class="oa_img_form">
                <img [src]="imgSrc" alt="">
              </div>
              <div class="oa_title_form_login">
                <h1>Bienvenido</h1>
                <p>
                  Especifique usuario y contraseña
                </p>
              </div>
              <div class="oa_login_field_form">
                <i class="pi pi-user oa_login_icon" ></i>
                <input class="oa_login_input_form" type="text" spellcheck="false" placeholder="Usuario" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" >
              </div>
              <div class="oa_login_field_form">
                <i class="pi pi-lock oa_login_icon "></i>
                <input type="text" spellcheck="false" type="password" placeholder="Contraseña" class="oa_login_input_form" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" >
              </div>
              <button class="oa_button_login_form oa_login_submit_form">
                <span class="oa_button_text_login_form" > Iniciar sesion </span>
                <i class="pi pi-chevron-right"></i>
              </button>
            </form>
          </div>
          <div class="oa_screen_background">
            <div class="oa_screen_background_shape oa_screen_background_shape4"></div>
            <div class="oa_screen_background_shape oa_screen_background_shape3"></div>
            <div class="oa_screen_background_shape oa_screen_background_shape2"></div>
            <div class="oa_screen_background_shape oa_screen_background_shape1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>