@import '../../../../variables.scss';

@media ( min-width: $mobile ) {
  .conteiner{
    .ml_container_products{
      .grid{
        .items{
          display: flex;
          flex-direction: column;
          height: 100%;
          .info{
            width: 100%;
            flex: 1;
          }
          .ml_container_input{
            .ml_input_products{
              width: 100%;
              border: none;
              border-radius: 6px;
              text-align: center;
              height: 2.5em;
              color: grey;
              margin-bottom: 1em;
              &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }
            }
            .ml_minus{
              position: absolute;
              color: gray;
              cursor: pointer;
              margin-top: .5em;
              margin-left: .5em;
              &:hover{
                color: pink;
              }
            }
            .ml_plus{
              position: absolute;
              color: gray;
              cursor: pointer;
              margin-top: .5em;
              margin-left: -1.5em;
              &:hover{
                color: pink;
              }
            }
          }
        }
      }
    }
  }

  .conteiner nav{
    width: 100%;
    padding: 15px;
    background-color: pink;
    margin-bottom: 30px;
  }
  h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 3rem;

  }
  .grid{
    // display: grid;
    // max-width: 1100px;
    // margin: auto;
    // justify-content: center;
    // gap: 20px;
    // grid-template-columns: repeat(auto-fit, minmax(280px,280px));
    // padding-bottom: 50px;
    width: 47%;

  }
  .items{
    border: solid thin plum;
    padding: .5em;
  }

  .items img{
    width: 100%;
    height: 170px;
    object-fit: cover;

  }
  .info{
    .input{
      width: 5rem;
    }
  }
  .info h3{
    font-size: 1.2rem;
  }
  .info p{
    font-size: 1rem;

  }
  button{
    width: 100%;
    // height: 100px;
    padding: .5em;
    background-color: palevioletred;
    border: none;
    outline: none;
    color: beige;
    text-transform: uppercase;
    font-size: .9rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
  }
  button:hover{
    background-color: plum;
    transition: all .3s;
  }
  .ml_container_products{
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    justify-content: center;
    row-gap: 1em;
  }

}

@media ( min-width: $tablet ) {
  .grid{

    width: 13em;

  }
}

@media ( min-width: $desktop ) {
  .grid{

    width: 17em;

  }
}

