<!--{{ products | json }}-->

<div class="conteiner">
    <nav></nav>
    <h1>Productos</h1>
    @for (p of products; track p.id) {
        <div class="grid">
            <div class="items">
              <img src={{p.url_image}} alt="Maquillaje">
              <div class="info">
                <h3>{{p.name_product}}</h3>
                <p>{{p.description}}</p>
                <div class="precio">
                  <p>${{p.price}}</p>
                </div>
                <button>Agregar al carrito</button>
              </div>
            </div>
          </div>
      }
  </div>