@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import './variables.scss';

.app{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
body{
  margin: 0;
  background-color: #fafafa;
}
main{
  flex: 1;
}

.p-menubar{
  background-color: $colorPrimary;
}
.p-menubar-root-list{
  background: $colorPrimary;
  ul{
    background: $colorPrimary;
    li{
      background: $colorPrimary;
    }
  }
}

.p-element{
  max-width: initial !important;
  margin-top: 0 !important;
  color: $colorText;
}
